<!-- BEGIN CONTENT BODY -->
<div class="page-content">
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a href="index.html">홈</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a href="#">공지사항</a>
      </li>
    </ul>
  </div>
  <h1 class="page-title"> 공지사항
    <small>공지사항-목록을 조회/수정 합니다.</small>
  </h1>
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-dark">
          <i class="icon-settings font-dark"></i>
          <span class="caption-subject bold uppercase"> 리스트 </span>
        </div>
        <div class="actions">
          <div class="col-md-4">
            <select class="bs-slect form-control input-small" data-style="btn-primary">
              <option>전체</option>
              <option>제목</option>
              <option>내용</option>
            </select>
          </div>
          <div class="col-md-8">
            <div class="input-group input-medium">
              <input type="text" class="form-control" placeholder="search">
              <span class="input-group-btn">
                  <button class="btn blue" type="button">검색</button>
              </span>
            </div>
          </div>
        </div>
      </div>
        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
          <div class="row">
            <table class="table table-bordered table-hover table-advance" id="sample_1" >
              <colgroup>
                <col width="7%" />
                <col width="7%" />
                <col width="*"  />
                <col width="13%"/>
                <col width="13%"/>
                <col width="13%"/>
                <col width="13%"/>
              </colgroup>
              <thead>
                <tr role="row">
                  <th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                      <input type="checkbox" class="checkboxes" value="1">
                      <span></span>
                    </label>
                  </th>
                  <th>타입<div style="float:right"><i class="fa fa-sort-amount-asc"></i></div></th>
                  <th>제목<div style="float:right"><i class="fa fa-exchange fa-rotate-90"></i></div></th>
                  <th>시작일</th>
                  <th>종료일</th>
                  <th>작성자</th>
                  <th>작성일</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row">
                  <td>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                      <input type="checkbox" class="checkboxes" value="1">
                      <span></span>
                    </label>
                  </td>
                  <td><span class="label label-sm label-danger">고정</span></td>
                  <td>안녕하세요</td>
                  <td>2017-01-01</td>
                  <td>2017-01-05</td>
                  <td>채영재</td>
                  <td>2017-01-07</td>
                </tr>
                <tr role="row">
                  <td>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                      <input type="checkbox" class="checkboxes" value="1">
                      <span></span>
                    </label>
                  </td>
                  <td><span class="label label-sm label-warning">안내</span></td>
                  <td>안녕하세요</td>
                  <td>2017-01-01</td>
                  <td>2017-01-05</td>
                  <td>채영재</td>
                  <td>2017-01-07</td>
                </tr>
                <tr role="row">
                  <td>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                      <input type="checkbox" class="checkboxes" value="1">
                      <span></span>
                    </label>
                  </td>
                  <td><span class="label label-sm label-success">일반</span></td>
                  <td>안녕하세요</td>
                  <td>2017-01-01</td>
                  <td>2017-01-05</td>
                  <td>채영재</td>
                  <td>2017-01-07</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" style="text-align: right">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
        <div class="row" style="text-align: right">
          <a href="javascript:;" class="btn default blue-stripe"> 등록 </a>
          <a href="javascript:;" class="btn default red-stripe"> 삭제 </a>
        </div>
  </div>
</div>
