<div class="page-wrapper">
  <!-- INNER HEADER -->
  <app-header></app-header>
  <!-- BEGIN HEADER & CONTENT DIVIDER -->
  <div class="clearfix"> </div>
  <!-- END HEADER & CONTENT DIVIDER -->
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    <!-- IINSER LEFT -->
    <app-left></app-left>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- END CONTENT -->
  </div>
  <!-- END CONTAINER -->
  <!-- INNER FOOTER -->
  <app-footer></app-footer>
</div>
<div class="quick-nav-overlay"></div>
